<aside class="col-2 aside-activites">
    <p class="aside-activites-title">activités</p>
    <div><a class="{% if current_menu is defined and current_menu == 'pilates' %}active{% endif %}" href="{{ path('pilates')}}">pilates</a></div>
    <div><a class="{% if current_menu is defined and current_menu == 'stretching' %}active{% endif %}" href="{{ path('stretching')}}">stretching</a></div>
    <div><a class="{% if current_menu is defined and current_menu == 'marche_nordique' %}active{% endif %}" href="{{ path('marche_nordique')}}">Marche Nordique</a></div>
    <div><a class="{% if current_menu is defined and current_menu == 'course' %}active{% endif %}" href="{{ path('course')}}">Course</a></div>
    <div><a class="{% if current_menu is defined and current_menu == 'fitness' %}active{% endif %}" href="{{ path('fitness')}}">Fitness</a></div>
    <div><a class="{% if current_menu is defined and current_menu == 'evenementiel' %}active{% endif %}" href="{{ path('evenementiel')}}">Evenementiel</a></div>
</aside>