<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="">
        <meta name="author" content="Cyril CHAMPROU">
        <meta name="descrition" content="Mon site parle de sport, bien-être, pilates, stretching, marche nordique, course à pied, fitness, evenemetiel, remise en forme">
        <meta name="keywords" content="html, css, bootstrap, balises, tags">
        <meta name="robots" content="all, follow">
{#        <title>{% block title %}{% endblock %}</title>#}

<!-- ////////////////////////// LINK BOOTSTRAP ////////////////////////// -->

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">

<!-- ////////////////////////// LINK STYLE.CSS ////////////////////////// -->

        <link rel="stylesheet"
              href="{{ asset('assets/css/style.css') }}" />

        {% block stylesheets %}{% endblock %}
    </head>

        <header>

            <nav class="navbar-expand-lg navbar-light navbar">
                <a class="navbar-brand" href="{{ path('home')}}#"><img src="{{ asset('assets/img/logo_simple.png')}}" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-background-texte" id="navbarNavDropdown">
                    <ul class="navbar-nav navbar-texte">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home')}}#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home')}}#biographie">Biographie</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Activités
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('home')}}#activites">Les activités</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#activites">pilates</a>
                                <a class="dropdown-item" href="#activites">stretching</a>
                                <a class="dropdown-item" href="#activites">marche nordique</a>
                                <a class="dropdown-item" href="#activites">course à pied</a>
                                <a class="dropdown-item" href="#activites">fitness</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('galerie')}}">Galerie</a>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home')}}#tarifs-reglements">Tarifs et réglements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home')}}#agenda-reservation">Agenda et réservation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home')}}#contact">Contact</a>
                        </li>
                        <li class="nav-link">
                            <a href="{{ path ('fos_user_security_login') }}">se connecter</a>
                        </li>
                        <li class="nav-link">
                            {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{ path ('fos_user_security_login') }}">se deconnecter</a>
                            {% endif %}
                        </li>
                        <li class="nav-link">
                            {% if is_granted("ROLE_ADMIN") %}
                                <p>bonjour marie</p>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>

        </header>

        {% block content %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

<!-- ///////////////////////// LINK JS / JQUERRY //////////////////////// -->

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>

